Allocat.WebApi/Service References/CustomService/APICalls.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Allocat.CustomService.Authorize.Net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="tns:BankAccount" />
      <xs:element minOccurs="0" name="CardInfo" nillable="true" type="tns:CreditCard" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPaymentProfileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerType" type="tns:CustomerType" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantCustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="PaymentType" type="tns:PaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ECheckType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameOnAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="CreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardType" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCard" nillable="true" type="tns:CreditCard" />
  <xs:simpleType name="CustomerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Individual" />
      <xs:enumeration value="Business" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerType" nillable="true" type="tns:CustomerType" />
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" nillable="true" type="tns:AddressInfo" />
  <xs:simpleType name="PaymentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreditCard" />
      <xs:enumeration value="ECheck" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentType" nillable="true" type="tns:PaymentType" />
  <xs:complexType name="CustomerPaymentProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillTo" nillable="true" type="tns:AddressInfo" />
      <xs:element minOccurs="0" name="CardInfo" nillable="true" type="tns:CreditCard" />
      <xs:element minOccurs="0" name="CustomerPaymentProfileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerProfileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isUpdateCreditCardInfo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerPaymentProfile" nillable="true" type="tns:CustomerPaymentProfile" />
</xs:schema>